<a href="https://colab.research.google.com/github/VanshikaSharma19/Function_Assignment/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Functions**

In [ ]:
#functions>> print, len, type >> inbuilt python function
#ceil function or roof function >> it will give nearest highest whole number value
#floor function >> it will give u the nearest lowest whole number values.

In [ ]:
import math as m #math(library) is a collection of functions
m.ceil(11.2)

12

In [ ]:
m.floor(11.9)

11

In [ ]:
#functions>> inbuilt function
#user defined functions

In [ ]:
#syntax of function
#def func():       >>>def is the key word func is the name
    #do somthing>> body of the function

In [ ]:
#function is block of code which performs some specific task/comuptiation
#why functions ?>> functions(code) are reusable, neat, clean and organised, saves your time

In [ ]:
 print("Wlecome to the office Rahul")
 print("Wlecome to the office Shyam")
 print("Wlecome to the office Ravi")

Wlecome to the office Rahul
Wlecome to the office Shyam
Wlecome to the office Ravi

In [ ]:
def greet():
  print("Wlecome to the office")

In [ ]:
greet()

Wlecome to the office

In [ ]:
print("Hello world") # in print, you call function by name, print () and provide a value inside paranthese

In [ ]:
def greeting(name):  #passing a variable inside a function >> name is positional arguement
  print("Welcome to the office",name)

In [ ]:
greeting("Rahul")

Welcome to the office Rahul

In [ ]:
greeting("Avi")

Welcome to the office Avi

In [ ]:
greeting("tina")

Welcome to the office tina

In [ ]:
greeting("Rita")

Welcome to the office Rita

In [ ]:
def greet(name):
  print("Wlecome to the office" ,name)

In [ ]:
greet("OK")

Wlecome to the office OK

In [ ]:
greeting()   #it will throw an error

TypeError: greeting() missing 1 required positional argument: 'name'

In [ ]:
def func():
  print("This is my first function")
func()

This is my first function

In [ ]:
"This is my first function" + "in Python"

'This is my first functionin Python'

In [ ]:
func() +"in Python"  #throw an error

This is my first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [ ]:
print(type(func()))

This is my first function
<class 'NoneType'>

In [ ]:
def func():
  return "This is my first function"    #return >> output of a function >>it will give output as it is.

func()

'This is my first function'

In [ ]:
#def function will return the Nonetype value and Return function will give output in as a String value so it gets easy for concatenation of values.

In [ ]:
def func():
  return "This is my first function"

func() + "in Python"

'This is my first functionin Python'

In [ ]:
print(type(func()))

<class 'str'>

In [ ]:
help("def")

Function definitions
********************

A function definition defines a user-defined function object (see
section The standard type hierarchy):

   funcdef                   ::= [decorators] "def" funcname "(" [parameter_list] ")"
               ["->" expression] ":" suite
   decorators                ::= decorator+
   decorator                 ::= "@" assignment_expression NEWLINE
   parameter_list            ::= defparameter ("," defparameter)* "," "/" ["," [parameter_list_no_posonly]]
                        | parameter_list_no_posonly
   parameter_list_no_posonly ::= defparameter ("," defparameter)* ["," [parameter_list_starargs]]
                                 | parameter_list_starargs
   parameter_list_starargs   ::= "*" [parameter] ("," defparameter)* ["," ["**" parameter [","]]]
                               | "**" parameter [","]
   parameter                 ::= identifier [":" expression]
   defparameter              ::= parameter ["=" expression]
   funcname                  ::= identifier

A function definition is an executable statement.  Its execution binds
the function name in the current local namespace to a function object
(a wrapper around the executable code for the function).  This
function object contains a reference to the current global namespace
as the global namespace to be used when the function is called.

The function definition does not execute the function body; this gets
executed only when the function is called. [4]

A function definition may be wrapped by one or more *decorator*
expressions. Decorator expressions are evaluated when the function is
defined, in the scope that contains the function definition.  The
result must be a callable, which is invoked with the function object
as the only argument. The returned value is bound to the function name
instead of the function object.  Multiple decorators are applied in
nested fashion. For example, the following code

   @f1(arg)
   @f2
   def func(): pass

is roughly equivalent to

   def func(): pass
   func = f1(arg)(f2(func))

except that the original function is not temporarily bound to the name
"func".

Changed in version 3.9: Functions may be decorated with any valid
"assignment_expression". Previously, the grammar was much more
restrictive; see **PEP 614** for details.

When one or more *parameters* have the form *parameter* "="
*expression*, the function is said to have “default parameter values.”
For a parameter with a default value, the corresponding *argument* may
be omitted from a call, in which case the parameter’s default value is
substituted.  If a parameter has a default value, all following
parameters up until the “"*"” must also have a default value — this is
a syntactic restriction that is not expressed by the grammar.

**Default parameter values are evaluated from left to right when the
function definition is executed.** This means that the expression is
evaluated once, when the function is defined, and that the same “pre-
computed” value is used for each call.  This is especially important
to understand when a default parameter value is a mutable object, such
as a list or a dictionary: if the function modifies the object (e.g.
by appending an item to a list), the default parameter value is in
effect modified.  This is generally not what was intended.  A way
around this is to use "None" as the default, and explicitly test for
it in the body of the function, e.g.:

   def whats_on_the_telly(penguin=None):
       if penguin is None:
           penguin = []
       penguin.append("property of the zoo")
       return penguin

Function call semantics are described in more detail in section Calls.
A function call always assigns values to all parameters mentioned in
the parameter list, either from positional arguments, from keyword
arguments, or from default values.  If the form “"*identifier"” is
present, it is initialized to a tuple receiving any excess positional
parameters, defaulting to the empty tuple. If the form
“"**identifier"” is present, it is initialized to a new ordered
mapping receiving any excess keyword arguments, defaulting to a new
empty mapping of the same type.  Parameters after “"*"” or
“"*identifier"” are keyword-only parameters and may only be passed by
keyword arguments.  Parameters before “"/"” are positional-only
parameters and may only be passed by positional arguments.

Changed in version 3.8: The "/" function parameter syntax may be used
to indicate positional-only parameters. See **PEP 570** for details.

Parameters may have an *annotation* of the form “": expression"”
following the parameter name.  Any parameter may have an annotation,
even those of the form "*identifier" or "**identifier".  Functions may
have “return” annotation of the form “"-> expression"” after the
parameter list.  These annotations can be any valid Python expression.
The presence of annotations does not change the semantics of a
function.  The annotation values are available as values of a
dictionary keyed by the parameters’ names in the "__annotations__"
attribute of the function object.  If the "annotations" import from
"__future__" is used, annotations are preserved as strings at runtime
which enables postponed evaluation.  Otherwise, they are evaluated
when the function definition is executed.  In this case annotations
may be evaluated in a different order than they appear in the source
code.

It is also possible to create anonymous functions (functions not bound
to a name), for immediate use in expressions.  This uses lambda
expressions, described in section Lambdas.  Note that the lambda
expression is merely a shorthand for a simplified function definition;
a function defined in a “"def"” statement can be passed around or
assigned to another name just like a function defined by a lambda
expression.  The “"def"” form is actually more powerful since it
allows the execution of multiple statements and annotations.

**Programmer’s note:** Functions are first-class objects.  A “"def"”
statement executed inside a function definition defines a local
function that can be returned or passed around.  Free variables used
in the nested function can access the local variables of the function
containing the def.  See section Naming and binding for details.

See also:

  **PEP 3107** - Function Annotations
     The original specification for function annotations.

  **PEP 484** - Type Hints
     Definition of a standard meaning for annotations: type hints.

  **PEP 526** - Syntax for Variable Annotations
     Ability to type hint variable declarations, including class
     variables and instance variables

  **PEP 563** - Postponed Evaluation of Annotations
     Support for forward references within annotations by preserving
     annotations in a string form at runtime instead of eager
     evaluation.

In [ ]:
def func():
  return "This is my first function",1,2,3,True,3+5j
#it will return tuple value because string is stored in ()
func()

('This is my first function', 1, 2, 3, True, (3+5j))

In [ ]:
print(type(func()))

<class 'tuple'>

In [ ]:
#how to store values in speratly (indexing)
a,b,c,d,e,f = func()

In [ ]:
a

'This is my first function'

In [ ]:
b

1

In [ ]:
c

2

In [ ]:
d

3

In [ ]:
e

True

In [ ]:
f

(3+5j)

In [ ]:
#or directly storing in a single value and use indexing to access the values
a = func()
a

('This is my first function', 1, 2, 3, True, (3+5j))

In [ ]:
a[0]

'This is my first function'

In [ ]:
a[-1]

(3+5j)

In [ ]:
def func():
  calc = 2 + 3+6*5
  return calc

In [ ]:
func()

35

In [ ]:
type(func())

int

In [ ]:
def square_no(a):      #a is called as an arguement
  return a*a

In [ ]:
square_no(6)

36

In [ ]:
square_no(10000)

100000000

In [ ]:
def addition(a,b):      #a,b are positional arguements >> it maintains order.
  return a+b

In [ ]:
addition(9,8)

17

In [ ]:
addition("PW"," Skills")

'PW Skills'

In [ ]:
addition([1,2,3,4],[5,6,7,8])

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
addition("SKills"," PW")

'SKills PW'

In [ ]:
#changing the position
addition(b=" Skills",a="PW")

'PW Skills'

In [ ]:
def sum1(a,b,c):
  return a+b+c

In [ ]:
sum1(3,4,5)

12

In [ ]:
#Default argument >>fixed default value are provided
def sum1(b,c,a=0):     #default argument is passed to function in the last.
  return a+b+c         #non-default arguments follows default argument.

In [ ]:
sum1(b=3,c =5,a=4)

12

In [ ]:
sum1(b=1,c=4)

5

In [ ]:
def sum1(a,b,c):
  return a+b+c

In [ ]:
sum1(1,2)    #it will give error because one value is not givin >> where default argument comes in

TypeError: sum1() missing 1 required positional argument: 'c'

In [ ]:
def sum1(a=0,b,c):  #it will give error because default argument is not in the last.
  return a+b+c

SyntaxError: non-default argument follows default argument (<ipython-input-65-1bf8feacf2e1>, line 1)

In [ ]:
#default argument for the all the values >> YES
def sum1(a=1,b=2,c=3):
  return a+b+c

In [ ]:
sum1()

6

In [ ]:
sum1(9)

14

In [ ]:
sum1(c=6)

9

In [ ]:
def add_two_number():
  a = int(input("Enter first number "))
  b = int(input("Enter second number "))
  return a+b

In [ ]:
add_two_number()

Enter first number 20
Enter second number 20

40

In [ ]:
def add_two_number():
  a = int(input("Enter first number "))
  b = int(input("Enter second number "))
  c = ('Sum of both numbers are' , a+b)
  return c

In [ ]:
add_two_number()

Enter first number 10
Enter second number 10

('Sum of both numbers are', 20)

In [ ]:
#write a function that takes List as input and return all numeric values

In [ ]:

def lists(*n):
  l=[]
  for i in n:
    if type(i) == list:
      for j in i:
        if type(j) == int or type(j) == float:
          l.append(j)
  return l

In [ ]:
res = lists([1,"V",2,3,4,5,6])
res

[1, 2, 3, 4, 5, 6]

In [ ]:
def only_numbers(a):
  n = []
  for i in a:
    if type(i) == int or type(i) == float:
      n.append(i)
  return n

In [ ]:
only_numbers([1,2.2,3,4,"Ravi",True])

[1, 2.2, 3, 4]

In [ ]:
#now in input take nested list
only_numeric([1,2,3,4.2,5,6.5,7,"Ajay",True ,3+5j,"PW Skills",[10,11,12,13,14,15]])

In [ ]:
def only_numbers(a):
  n = []
  for i in a:
    if type(i)==int or type(i)==float:
      n.append(i)
    elif type(i) == list:
      for j in i:
        if type(j) == int or type(j) == float or type(j) == list:
          n.append(j)
  return n

In [ ]:
only_numbers([1,2,3,4.2,5,6.5,7,"Ajay",True ,3+5j,"PW Skills",[10,11,12,13,14,15]])

[1, 2, 3, 4.2, 5, 6.5, 7, 10, 11, 12, 13, 14, 15]

In [ ]:
def only_numbers(a):
  n = []
  for i in a:
    if type(i) == int or type(i) == float:
      n.append(i)
    else:
      if type(i) == str:
        continue
  return n

In [ ]:
only_numbers([1,2,3,4.2,5,6.5,7,"Ajay",True ,3+5j,"PW Skills",[10,11,12,13,14,15]])

[1, 2, 3, 4.2, 5, 6.5, 7]

In [ ]:
def only_numberic(a):
  n = []
  for i in a:
    if type(i) == list:
      for j in i:
        if type(j) == int or type(j) == float:
          n.append(j)
    else:
      if type(i) == int or type(i) == float:
        n.append(i)
  return n

In [ ]:
only_numberic([1,2,3,4.5,"Ravi",True,[100,200,101,"Tina",3+5j]])

[1, 2, 3, 4.5, 100, 200, 101]

In [ ]:
def only_number(a):
  n=[]
  for i in a:
    if type(i) == list:
      for j in i:
        if type(j) == int or type(j) == float:
          n.append(j)
          while type(a) == list:
            if type(a) == int or type(a) == float:
              n.append(a)
              return(n)

In [ ]:
only_number([1,2.5,3,"Avinash",3+5j,[10,20,"Tina"]])

KeyboardInterrupt:

In [ ]:
def sum(a,b):
  return a+b

In [ ]:
sum(2,5)

7

In [ ]:
sum(3,4,5)

TypeError: sum() takes 2 positional arguments but 3 were given

In [ ]:
#variable length argument>> when u dont know number of arguments

In [ ]:
def sum1(*args):   #* >>> variable argument
  return args

In [ ]:
sum1(1,2)

(1, 2)

In [ ]:
sum1(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
type(sum1())

tuple

In [ ]:
# A Function which can take any number of value and return the sum

In [ ]:
def sum2(*args):
  sum = 0
  for i in args:
    sum = sum + i
  return sum

In [ ]:
sum2(1,2,3,4,5,6,7,8)

36

In [ ]:
sum2(10,12,15,25,30)

92

In [ ]:
#Variable argument with default argument
def test(*args, a):
  return args,a

In [ ]:
test(1,2,3,4,5,a="Ram")

((1, 2, 3, 4, 5), 'Ram')

In [ ]:
test(1,1,1,2,3)   #error

TypeError: test() missing 1 required keyword-only argument: 'a'

In [ ]:
#Variable argument >> takes any no of argument
#positional argument >> fixed argument

In [ ]:
#write a function which can take any number of values but returns the list

In [ ]:
def return_list(*args):
  l = []
  for i in args:
    if type(i) == list:
      l.append(i)
  return l

In [ ]:
return_list(1,2,3,4,5_7j,{2,3},[20,30,40,[50,60,70]],[1,2,3,4],(2,3),True,"Tina")

[[20, 30, 40, [50, 60, 70]], [1, 2, 3, 4]]

In [ ]:
def return_list(*args):
  l = []
  for i in args:
    if type(i) == list:
      l.append(i)
      return l        #take a look at indentation of return function>> its important >> its under for loop

In [ ]:
return_list(1,2,3,4,5,{1,2,3,4,5},(1,2,3,4,5),[10,20,30,[40,50,60]],[100,200,300,400])

[[10, 20, 30, [40, 50, 60]]]

In [ ]:
def team(name,project):
  return f"{name} is working on {project} project."

In [ ]:
team("Rahul","Python")

'Rahul is working on Python project.'

In [ ]:
#variable length argument and keyword argument together

In [ ]:
def test1(*args,**args1):
  return args,args1

In [ ]:
test1(1,2,3,4,5,a=100,b="tinaa")

((1, 2, 3, 4, 5), {'a': 100, 'b': 'tinaa'})

In [ ]:
test1()

((), {})

In [ ]:
#python namespace

def greet():
  message = "Hello, Welcome" #message variable is aa locaal variable (to this function)>>>scope is only inside the function >it will be accesable
  print(message)

In [ ]:
greet()

Hello, Welcome

In [ ]:
print(message)

NameError: name 'message' is not defined

In [ ]:
subpart = "To the course"  #global variable >> it can be accesed outside the function
def greet():
  message = "Hello , Welcome " + subpart    #message will not be accessed outside the function because it was defined inside the function.
  print(message)

In [ ]:
greet()

Hello , Welcome To the course

In [ ]:
#namespace >> scope of variable
#local variable>> a function defined inside a function should be accessed in the function only
#global variable>> it can be accessed any where

In [ ]:
#Function inside function

def marks_in_subject(**kwaargs):
  return kwaargs

In [ ]:
def marks_in_subject(**kwargs):
  marks_list = []
  for sub, marks in kwargs.items():
    marks_list.append(marks)

  return marks_list

In [ ]:
marks_in_subject(a =90,b =20)

[90, 20]

In [ ]:
def marks_in_subject(**kwargs):
  def total_marks(marks_list):
    return sum(marks_list)
  marks_list = []
  for sub, marks in kwargs.items():
    marks_list.append(marks)

  return marks_list

In [ ]:
sum([90,20])

110

In [ ]:
def marks_in_subject(**kwargs):
  def total_marks(marks_list):     #it cant be used by other functions because its is called out from inside a function
    return sum(marks_list)        #IT IS ACTING AS A LOCAL FUNCTION
  marks_list = []
  for sub, marks in kwargs.items():
    marks_list.append(marks)

  return total_marks(marks_list)

In [ ]:
marks_in_subject(a = 30,b = 20,c = 60)

110

In [ ]:
#calling function from outside

In [ ]:
def total_marks(marks_list):   #benefit of calling function frome outside is that now it can be used by other functions aswell
  return sum(marks_list)       #IT IS ACTING AS A GOLABAL FUNCTION.

def marks_in_subject(**kwargs):
  marks_list = []
  for sub, marks in kwargs.items():
    marks_list.append(marks)

  return total_marks(marks_list)

In [ ]:
total_marks([90,20])

110

In [ ]:
marks_in_subject(a = 30,b = 20,c = 60)

110

In [ ]:
def find_power(num,power):
  return num**power    #Double** is used to find the power of a number

In [ ]:
find_power(2,10)

1024

In [ ]:
#writing the descripition of a function useing doc string.
def find_power(num, power):
  """This function will return the power of number
  Args:
      num(int): proviede any integer as input
      power(int): provide power as integer
  Returns:
        integer :the power of number
  """
  return num**power

In [ ]:
help(find_power)

Help on function find_power in module __main__:

find_power(num, power)
    This function will return the power of number
    Args:
        num(int): proviede any integer as input
        power(int): provide power as integer
    Returns:
          integer :the power of number

In [ ]:
print (find_power.__doc__)

This function will return the power of number
  Args:
      num(int): proviede any integer as input
      power(int): provide power as integer
  Returns:
        integer :the power of number

# **ITERATORS AND GENERATORS**

In [ ]:
for i in "TIna":
  print(i)

T
I
n
a

In [ ]:
for i in ["Apple","Banana","Mango"]:
  print(i)

Apple
Banana
Mango

In [ ]:
for i in {1,2,3,4,"Minal"}:
  print(i)

1
2
3
4
Minal

In [ ]:
for i in {"Key":"pair","Name":"Vanshika","Age":20}:
  print(i)

Key
Name
Age

In [ ]:
for i in 5:
  print

TypeError: 'int' object is not iterable

In [ ]:
#iterable >> an iterable is any python object/sequential structure/data structure that is capable of returing its members one at a time
#permitting it to be iterated over in a for loop (Using for loop or While loop)
#example >> lists,tuples, etc.

In [ ]:
lis = [1,2,3,4,5,"Tina"]    #List is an iteratble object
for i in lis:
  print(i)

1
2
3
4
5
Tina

In [ ]:
#iteration >> iteration is the process of looping through the element of an iterable(lists,strings)
#and it is done using loop
#The process of returing element one by one iteration

In [ ]:
for i in "PWskills":
  print(i)

P
W
s
k
i
l
l
s

In [ ]:
#iterator >>> an iterator is an object representing a stream of data>> return the data one by one.
#Analogy
#Potato(iterable) >> it can not be cooked in original form
#Chop/wash the potato >> ready for cooking >> iterator
#the process of cooking >>iteration

In [ ]:
s = "PW Skills"  #string is iterable

In [ ]:
for i in s:     #How python decided that s should be iterated >> comes the concept of iterator
  print(i)

P
W

S
k
i
l
l
s

In [ ]:
#python >> can I prepare s for iteration

iter(s)    #iterator object >> Ready to be iterated

In [ ]:
a = iter(s)
a

In [ ]:
next(a)

'P'

In [ ]:
next(a)

'W'

In [ ]:
next(a)

' '

In [ ]:
next(a)

'S'

In [ ]:
next(a)

'k'

In [ ]:
next(a)

'i'

In [ ]:
next(a)

'l'

In [ ]:
next(a)

'l'

In [ ]:
next(a)   #ends here

's'

In [ ]:
next(a)    #error

StopIteration:

In [ ]:
for i in "PW Skills":    #First conveting the iterable string to iterator object(using iter) and then access using next
  print(i)

P
W

S
k
i
l
l
s

In [ ]:
#In List
a = iter([1,2,3,4,5,6])
a

In [ ]:
next(a)

1

In [ ]:
next(a)

2

In [ ]:
next(a)

3

In [ ]:
next(a)

4

In [ ]:
next(a)

5

In [ ]:
next(a)

6

In [ ]:
next(a)

StopIteration:

In [ ]:
#itertor in tuples

In [ ]:
t = iter((1,2,3,4,"TINAA"))
t

In [ ]:
next(t)

1

In [ ]:
next(t)

2

In [ ]:
next(t)

3

In [ ]:
next(t)

4

In [ ]:
next(t)

'TINAA'

In [ ]:
#Dictionary
d = iter({"Name":"Vanshika","Age":20})  #only Key will be iterated
d

In [ ]:
next(d)

'Name'

In [ ]:
next(d)

'Age'

In [ ]:
#set in itertor

In [ ]:
t = iter({1,2,3,4,5,"Mina"})
t

In [ ]:
next(t)

1

In [ ]:
next(t)

2

In [ ]:
next(t)

3

In [ ]:
next(t)

4

In [ ]:
next(t)

5

In [ ]:
next(t)

'Mina'

# **GENERATORS**

In [ ]:
#Generators Function

In [ ]:
#Regulaar function >> takes a list and give squaare of each of the list
def square_number(*n):
  l = []
  for i in n:
    if type(i) == list:
      for j in i:
        if type(j) == int:
          l.aappend(j**2)
        else:
          if type(i) == int:
            l.append(i**2)
  return l

In [ ]:
def square_number(n):
  l = []
  for i in n:
    l.append(i**2)
  return l

In [ ]:
square_number([10,20,30])

[100, 400, 900]

In [ ]:
#regular function calculates the square of the values and retutn in one go
#since its returing in one go>>> memory usage will be more
#it will take a lot of execution time if there is lot of computation as all the computation will done first and then the caluation will be returned in one go
def square_range(n):
  result=[]
  for i in range(n):
    result.append(i**2)
  return result
square_range(1000)

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576,
 625,
 676,
 729,
 784,
 841,
 900,
 961,
 1024,
 1089,
 1156,
 1225,
 1296,
 1369,
 1444,
 1521,
 1600,
 1681,
 1764,
 1849,
 1936,
 2025,
 2116,
 2209,
 2304,
 2401,
 2500,
 2601,
 2704,
 2809,
 2916,
 3025,
 3136,
 3249,
 3364,
 3481,
 3600,
 3721,
 3844,
 3969,
 4096,
 4225,
 4356,
 4489,
 4624,
 4761,
 4900,
 5041,
 5184,
 5329,
 5476,
 5625,
 5776,
 5929,
 6084,
 6241,
 6400,
 6561,
 6724,
 6889,
 7056,
 7225,
 7396,
 7569,
 7744,
 7921,
 8100,
 8281,
 8464,
 8649,
 8836,
 9025,
 9216,
 9409,
 9604,
 9801,
 10000,
 10201,
 10404,
 10609,
 10816,
 11025,
 11236,
 11449,
 11664,
 11881,
 12100,
 12321,
 12544,
 12769,
 12996,
 13225,
 13456,
 13689,
 13924,
 14161,
 14400,
 14641,
 14884,
 15129,
 15376,
 15625,
 15876,
 16129,
 16384,
 16641,
 16900,
 17161,
 17424,
 17689,
 17956,
 18225,
 18496,
 18769,
 19044,
 19321,
 19600,
 19881,
 20164,
 20449,
 20736,
 21025,
 21316,
 21609,
 21904,
 22201,
 22500,
 22801,
 23104,
 23409,
 23716,
 24025,
 24336,
 24649,
 24964,
 25281,
 25600,
 25921,
 26244,
 26569,
 26896,
 27225,
 27556,
 27889,
 28224,
 28561,
 28900,
 29241,
 29584,
 29929,
 30276,
 30625,
 30976,
 31329,
 31684,
 32041,
 32400,
 32761,
 33124,
 33489,
 33856,
 34225,
 34596,
 34969,
 35344,
 35721,
 36100,
 36481,
 36864,
 37249,
 37636,
 38025,
 38416,
 38809,
 39204,
 39601,
 40000,
 40401,
 40804,
 41209,
 41616,
 42025,
 42436,
 42849,
 43264,
 43681,
 44100,
 44521,
 44944,
 45369,
 45796,
 46225,
 46656,
 47089,
 47524,
 47961,
 48400,
 48841,
 49284,
 49729,
 50176,
 50625,
 51076,
 51529,
 51984,
 52441,
 52900,
 53361,
 53824,
 54289,
 54756,
 55225,
 55696,
 56169,
 56644,
 57121,
 57600,
 58081,
 58564,
 59049,
 59536,
 60025,
 60516,
 61009,
 61504,
 62001,
 62500,
 63001,
 63504,
 64009,
 64516,
 65025,
 65536,
 66049,
 66564,
 67081,
 67600,
 68121,
 68644,
 69169,
 69696,
 70225,
 70756,
 71289,
 71824,
 72361,
 72900,
 73441,
 73984,
 74529,
 75076,
 75625,
 76176,
 76729,
 77284,
 77841,
 78400,
 78961,
 79524,
 80089,
 80656,
 81225,
 81796,
 82369,
 82944,
 83521,
 84100,
 84681,
 85264,
 85849,
 86436,
 87025,
 87616,
 88209,
 88804,
 89401,
 90000,
 90601,
 91204,
 91809,
 92416,
 93025,
 93636,
 94249,
 94864,
 95481,
 96100,
 96721,
 97344,
 97969,
 98596,
 99225,
 99856,
 100489,
 101124,
 101761,
 102400,
 103041,
 103684,
 104329,
 104976,
 105625,
 106276,
 106929,
 107584,
 108241,
 108900,
 109561,
 110224,
 110889,
 111556,
 112225,
 112896,
 113569,
 114244,
 114921,
 115600,
 116281,
 116964,
 117649,
 118336,
 119025,
 119716,
 120409,
 121104,
 121801,
 122500,
 123201,
 123904,
 124609,
 125316,
 126025,
 126736,
 127449,
 128164,
 128881,
 129600,
 130321,
 131044,
 131769,
 132496,
 133225,
 133956,
 134689,
 135424,
 136161,
 136900,
 137641,
 138384,
 139129,
 139876,
 140625,
 141376,
 142129,
 142884,
 143641,
 144400,
 145161,
 145924,
 146689,
 147456,
 148225,
 148996,
 149769,
 150544,
 151321,
 152100,
 152881,
 153664,
 154449,
 155236,
 156025,
 156816,
 157609,
 158404,
 159201,
 160000,
 160801,
 161604,
 162409,
 163216,
 164025,
 164836,
 165649,
 166464,
 167281,
 168100,
 168921,
 169744,
 170569,
 171396,
 172225,
 173056,
 173889,
 174724,
 175561,
 176400,
 177241,
 178084,
 178929,
 179776,
 180625,
 181476,
 182329,
 183184,
 184041,
 184900,
 185761,
 186624,
 187489,
 188356,
 189225,
 190096,
 190969,
 191844,
 192721,
 193600,
 194481,
 195364,
 196249,
 197136,
 198025,
 198916,
 199809,
 200704,
 201601,
 202500,
 203401,
 204304,
 205209,
 206116,
 207025,
 207936,
 208849,
 209764,
 210681,
 211600,
 212521,
 213444,
 214369,
 215296,
 216225,
 217156,
 218089,
 219024,
 219961,
 220900,
 221841,
 222784,
 223729,
 224676,
 225625,
 226576,
 227529,
 228484,
 229441,
 230400,
 231361,
 232324,
 233289,
 234256,
 235225,
 236196,
 237169,
 238144,
 239121,
 240100,
 241081,
 242064,
 243049,
 244036,
 245025,
 246016,
 247009,
 248004,
 249001,
 250000,
 251001,
 252004,
 253009,
 254016,
 255025,
 256036,
 257049,
 258064,
 259081,
 260100,
 261121,
 262144,
 263169,
 264196,
 265225,
 266256,
 267289,
 268324,
 269361,
 270400,
 271441,
 272484,
 273529,
 274576,
 275625,
 276676,
 277729,
 278784,
 279841,
 280900,
 281961,
 283024,
 284089,
 285156,
 286225,
 287296,
 288369,
 289444,
 290521,
 291600,
 292681,
 293764,
 294849,
 295936,
 297025,
 298116,
 299209,
 300304,
 301401,
 302500,
 303601,
 304704,
 305809,
 306916,
 308025,
 309136,
 310249,
 311364,
 312481,
 313600,
 314721,
 315844,
 316969,
 318096,
 319225,
 320356,
 321489,
 322624,
 323761,
 324900,
 326041,
 327184,
 328329,
 329476,
 330625,
 331776,
 332929,
 334084,
 335241,
 336400,
 337561,
 338724,
 339889,
 341056,
 342225,
 343396,
 344569,
 345744,
 346921,
 348100,
 349281,
 350464,
 351649,
 352836,
 354025,
 355216,
 356409,
 357604,
 358801,
 360000,
 361201,
 362404,
 363609,
 364816,
 366025,
 367236,
 368449,
 369664,
 370881,
 372100,
 373321,
 374544,
 375769,
 376996,
 378225,
 379456,
 380689,
 381924,
 383161,
 384400,
 385641,
 386884,
 388129,
 389376,
 390625,
 391876,
 393129,
 394384,
 395641,
 396900,
 398161,
 399424,
 400689,
 401956,
 403225,
 404496,
 405769,
 407044,
 408321,
 409600,
 410881,
 412164,
 413449,
 414736,
 416025,
 417316,
 418609,
 419904,
 421201,
 422500,
 423801,
 425104,
 426409,
 427716,
 429025,
 430336,
 431649,
 432964,
 434281,
 435600,
 436921,
 438244,
 439569,
 440896,
 442225,
 443556,
 444889,
 446224,
 447561,
 448900,
 450241,
 451584,
 452929,
 454276,
 455625,
 456976,
 458329,
 459684,
 461041,
 462400,
 463761,
 465124,
 466489,
 467856,
 469225,
 470596,
 471969,
 473344,
 474721,
 476100,
 477481,
 478864,
 480249,
 481636,
 483025,
 484416,
 485809,
 487204,
 488601,
 490000,
 491401,
 492804,
 494209,
 495616,
 497025,
 498436,
 499849,
 501264,
 502681,
 504100,
 505521,
 506944,
 508369,
 509796,
 511225,
 512656,
 514089,
 515524,
 516961,
 518400,
 519841,
 521284,
 522729,
 524176,
 525625,
 527076,
 528529,
 529984,
 531441,
 532900,
 534361,
 535824,
 537289,
 538756,
 540225,
 541696,
 543169,
 544644,
 546121,
 547600,
 549081,
 550564,
 552049,
 553536,
 555025,
 556516,
 558009,
 559504,
 561001,
 562500,
 564001,
 565504,
 567009,
 568516,
 570025,
 571536,
 573049,
 574564,
 576081,
 577600,
 579121,
 580644,
 582169,
 583696,
 585225,
 586756,
 588289,
 589824,
 591361,
 592900,
 594441,
 595984,
 597529,
 599076,
 600625,
 602176,
 603729,
 605284,
 606841,
 608400,
 609961,
 611524,
 613089,
 614656,
 616225,
 617796,
 619369,
 620944,
 622521,
 624100,
 625681,
 627264,
 628849,
 630436,
 632025,
 633616,
 635209,
 636804,
 638401,
 640000,
 641601,
 643204,
 644809,
 646416,
 648025,
 649636,
 651249,
 652864,
 654481,
 656100,
 657721,
 659344,
 660969,
 662596,
 664225,
 665856,
 667489,
 669124,
 670761,
 672400,
 674041,
 675684,
 677329,
 678976,
 680625,
 682276,
 683929,
 685584,
 687241,
 688900,
 690561,
 692224,
 693889,
 695556,
 697225,
 698896,
 700569,
 702244,
 703921,
 705600,
 707281,
 708964,
 710649,
 712336,
 714025,
 715716,
 717409,
 719104,
 720801,
 722500,
 724201,
 725904,
 727609,
 729316,
 731025,
 732736,
 734449,
 736164,
 737881,
 739600,
 741321,
 743044,
 744769,
 746496,
 748225,
 749956,
 751689,
 753424,
 755161,
 756900,
 758641,
 760384,
 762129,
 763876,
 765625,
 767376,
 769129,
 770884,
 772641,
 774400,
 776161,
 777924,
 779689,
 781456,
 783225,
 784996,
 786769,
 788544,
 790321,
 792100,
 793881,
 795664,
 797449,
 799236,
 801025,
 802816,
 804609,
 806404,
 808201,
 810000,
 811801,
 813604,
 815409,
 817216,
 819025,
 820836,
 822649,
 824464,
 826281,
 828100,
 829921,
 831744,
 833569,
 835396,
 837225,
 839056,
 840889,
 842724,
 844561,
 846400,
 848241,
 850084,
 851929,
 853776,
 855625,
 857476,
 859329,
 861184,
 863041,
 864900,
 866761,
 868624,
 870489,
 872356,
 874225,
 876096,
 877969,
 879844,
 881721,
 883600,
 885481,
 887364,
 889249,
 891136,
 893025,
 894916,
 896809,
 898704,
 900601,
 902500,
 904401,
 906304,
 908209,
 910116,
 912025,
 913936,
 915849,
 917764,
 919681,
 921600,
 923521,
 925444,
 927369,
 929296,
 931225,
 933156,
 935089,
 937024,
 938961,
 940900,
 942841,
 944784,
 946729,
 948676,
 950625,
 952576,
 954529,
 956484,
 958441,
 960400,
 962361,
 964324,
 966289,
 968256,
 970225,
 972196,
 974169,
 976144,
 978121,
 980100,
 982081,
 984064,
 986049,
 988036,
 990025,
 992016,
 994009,
 996004,
 998001]

In [ ]:
#can we have something to generate result one by one instead of one go
#yield >> general function uses return statement but a generator function use yield satement

In [ ]:
def square_no_generator(n):
  for i in range(n):
    yield i ** 2

In [ ]:
square_no_generator(10)    #it is an iteratorb object

In [ ]:
gen = square_no_generator(10)
gen

In [ ]:
next(gen)

0

In [ ]:
next(gen)

1

In [ ]:
next(gen)

4

In [ ]:
next(gen)

9

In [ ]:
next(gen)

16

In [ ]:
next(gen)

25

In [ ]:
next(gen)

36

In [ ]:
next(gen)

49

In [ ]:
next(gen)

64

In [ ]:
next(gen)

81

In [ ]:
#fibonacci series >> Sum of last two numbers 0,1,1,2,3,5,8,....


def fib(n):
  a=0
  b=1
  for i in range(n):   #if n=5,0,1,2,3,4
    yield a
    a,b = b,a+b     #here assinging a value to b and b value to a+b so for example a=1 and b=2 then 1+2=3 now 2 =a and 3= b

In [ ]:
fib(10000000000000000)

In [ ]:
f=fib(10000000000000000)
f

In [ ]:
next(f)

0

In [ ]:
next(f)

1

In [ ]:
next(f)

1

In [ ]:
next(f)

2

In [ ]:
next(f)

3

In [ ]:
next(f)

5

In [ ]:
next(f)

8

In [ ]:
next(f)

13

In [ ]:
next(f)

21

In [ ]:
next(f)

34

In [ ]:
next(f)

55

In [ ]:
next(f)

89

In [ ]:
next(f)

144

In [ ]:
next(f)

233

In [ ]:
next(f)

610

In [ ]:
next(f)

987

In [ ]:
next(f)

1597

In [ ]:
next(f)

4181

In [ ]:
next(f)

6765

# **LAMBDA, MAP, REDUCE, AND FILTER**

In [ ]:
#Lambda Function >> anonymous function
#syntax
# Lambda arguments : expression no need of return satement and def keyword

In [ ]:
def square(x):
  return x**2
square(2)

4

In [ ]:
sq_lambda = lambda x: x**2

In [ ]:
sq_lambda(2)

4

In [ ]:
add = lambda x,y : x+y

In [ ]:
add(5,10)

15

In [ ]:
is_even = lambda x: x%2 == 0  #(%) it is used to see remander of a division

In [ ]:
is_even(20)

True

In [ ]:
is_even(17)

False

In [ ]:
#sort the list based on the length of element of list
le = lambda x: len(x)
le("Vanshika")

8

In [ ]:
x = ["Python","Java","C++","C"]
x

['Python', 'Java', 'C++', 'C']

In [ ]:
sorted(x)  #by default sorting based on alphabetical order

['C', 'C++', 'Java', 'Python']

In [ ]:
sorted(x, key = lambda x: len(x))

['C', 'C++', 'Java', 'Python']

In [ ]:
fib = lambda n: n if n <= 1 else fib(n-1) + fib(n-2) #fibinachi series >> sum of last two units
[fib(i) for i in range(10)]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
#factorial of 5 >>> (5!) or |_5 => 5*4*3*2*1
#0! = 1

In [ ]:
def fact_num(n):
  if n==0:
    return 1
  else:
    return n*fact_num(n-1)

In [ ]:
fact_num(0)

1

In [ ]:
fact_num(5)

120

In [ ]:
lambda_fact = lambda n: 1 if n==0 else n*fact_num(n-1)

In [ ]:
lambda_fact(5)

120

# **MAP**

In [ ]:
#Map >> executes a specified function for each of item of aan iterable
#Syntax >> map(func, *iterables)

In [ ]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

In [ ]:
l = [1,2,3,4,5,6]
def square(l):
  sq =[]
  for i in l:
    sq.append(i**2)
  return sq

In [ ]:
square(l)

[1, 4, 9, 16, 25, 36]

In [ ]:
def sq(x):
  return x**2

In [ ]:
l

[1, 2, 3, 4, 5, 6]

In [ ]:
#map(func, iterable)
list(map(sq,l))

[1, 4, 9, 16, 25, 36]

In [ ]:
def add(x):
  return x+10

list(map(add,l))

[11, 12, 13, 14, 15, 16]

In [ ]:
#using lambda with map
list(map(lambda x: x**2,l))

[1, 4, 9, 16, 25, 36]

In [ ]:
list(map(lambda x: x+10,l))

[11, 12, 13, 14, 15, 16]